#android studio
build/libs/
build/manifests/
build/res/
build/source/
build/symbols/
build/assets/
build/classes/
build/dependency-cache/
build/incremental/
.gradle/
gradle/
.idea/
build.gradle
SPEC.iml
proguard.cfg
gradlew.bat
gradlew
gradle.properties
out/
gen/
classes/
local.properties
settings.gradle
app/build/
app/app.iml
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
